*{
    margin:0;
    border: 0;
    box-sizing: border-box;
}


body{
    background-image: linear-gradient(120deg, #5f5f5f, #9fa3a1);
    color: black;
    font-style: normal;
    font-family: 'Gill Sans', sans-serif;
    min-height: 100vh;
}

header{
    font-size: xx-large;
    text-align: center; 
    min-height: 20vh;
    display: flex; 
    justify-content: center;
    align-items: center; 
}

.supplement-btns{

    height: 100px;
    text-align: center;
     padding: 3rem;
}
.supplement-btns button{
    font-weight: bold;
    font-size:2rem;
    font-family: 'Gill Sans', sans-serif;
    margin: 0.5rem;
    border: none;
    cursor: pointer;
    margin-bottom: 0.1rem;
}

.supplement-btns button:hover{
    background-color: black;
    color: white;
}

form{
    margin: 7rem;
}

form input, form select, form button.add-button{
   
    font-size: 1.5rem;    
    padding: 0.3rem;
    border:none
}

ul li{
    display:flex;
    font-size: 2rem;
    text-align: left;
    margin: 0.5rem;
    padding-top: 0.5rem;
    background: white;
    width: 50%;
    justify-content:space-between;
    align-items: center;
}
ul li span{
  
    justify-items: right;
}


